<!DOCTYPE html>
<html>
<head><title>RDB2RDF demo</title></head>
<style>
body { font-family: sans-serif; }
#main {margin: 0 auto; max-width: 1000px;}
textarea { width: 100%; box-sizing: border-box; height: 24em }
.collapsible {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
</style>
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ 
        startOnLoad: true ,
        er: {useMaxWidth: false,}
    });
  </script>
<script type="text/javascript">
    function make_sql() {
        sparql = document.getElementById('sparql').value;
        example = document.getElementById('example').value;
        document.getElementById('spinner').style.visibility = 'visible';

        url = window.location.href.split(/[?#]/)[0] + '/make_sql?' + new URLSearchParams({example:example, sparql:sparql});
        fetch(url).then(response => response.text()).then(data => {
            document.getElementById('sql').value = data;
            document.getElementById('spinner').style.visibility = 'hidden';
        })
    }

    function run_sql() {
        sql = document.getElementById('sql').value;
        example = document.getElementById('example').value;
        document.getElementById('spinner').style.visibility = 'visible';

        fetch(window.location.href.split(/[?#]/)[0] + '/run_sql?' + new URLSearchParams({example:example, sql:sql}))
        .then(response => response.text()).then(data => {
            document.getElementById('result').innerHTML = data;
            document.getElementById('spinner').style.visibility = 'hidden';
        })
    }

    function collapse(btn, id) {
        var content = document.getElementById(id);
        if (content.style.maxHeight){
            btn.innerText = btn.innerText.replace("Close","Open");
            content.style.maxHeight = null;
        } else {
            btn.innerText = btn.innerText.replace("Open","Close");
            content.style.maxHeight = content.scrollHeight + "px";
        }
    }
    </script>
<body>
<div id="main">
    <p>
        <b style="float:left">RDB2RDF Demo</b>
        <form style="display:inline; float:right" method="GET">
            Load test: 
            <select id="example" name="example" onchange="this.form.submit()">
                <option value=""></option>
                {% for cat, examples in categories.items() %}
                <optgroup label = "{{ cat }}">
                {% for ex in examples %}
                    <option value="{{ ex.id }}" {% if ex.id==example %} selected="selected"{% endif %}>{{ ex.id }}</option>
                {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
            <button type="button" id="schema-btn" onclick="collapse(this, 'schema_box')">Open Schema</button>
            <button type="button" id="mapping-btn" onclick="collapse(this, 'mapping_box')">Open Mapping</button>
        </form>
    </p>
    <div style="display: flex; clear:both" class="collapsible" id="schema_box">
        <div style="width:50%">
            <h3>Schema</h3>
            <textarea id="schema" placeholder="CREATE TABLE ...">{{ schema }}</textarea>
            <!--<button>Load</button>
            <button>Visualize →</button>-->
        </div>
        <div style="width:50%; overflow:scroll; float:right">
            <h3>Schema Visualization</h3>
            <pre class="mermaid">
{{ mermaid }}
          </pre>
        </div>
    </div>
    <div style="clear:both" class="collapsible" id="mapping_box">
        <h3>Mapping Visualization</h3>
        <pre>{{ mapping }}</pre>
    </div>
    <div style="display: flex;">
        <div style="width:50%">
            <h3>SPARQL</h3>
            <textarea id="sparql" placeholder="select * where { ?s ?p ?o } limit 10 ">
                {{- sparql -}}
            </textarea>
            <button type="button" onclick="make_sql()">Generate SQL →</button>
        </div>
        <div style="width:50%">
            <h3>SQL</h3>
            <textarea id="sql">{{- sql -}}</textarea>
            <button type="button" onclick="run_sql()">Execute SQL ↓</button>
        </div>
    </div>
    <p><img src="static/load.gif" id="spinner" style="height:1em; visibility:hidden; "/></p>
    <pre id="result"></pre>
</div>
</body>
</html>